/* Define the font */
@font-face {
    font-family: 'Trefoil Sans';
    src: url('https://raw.githubusercontent.com/barbiegirlscout/ilovecookies/189b0734811a9e813156a571bf9eeae58255b35b/fonts/trefoilsans-bold.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/barbiegirlscout/ilovecookies/189b0734811a9e813156a571bf9eeae58255b35b/fonts/trefoilsans-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Apply the font globally */
body {
    font-family: 'Trefoil Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #d5f267; /* Yellow background */
    color: black;
    padding: 20px;
    margin: 0;
}

button {
    background-color: #00b451; /* Green background */
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #009f3d; /* Darker green when hovering */
}

#results {
    margin-top: 20px;
    padding: 20px;
}

.result {
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    border: 2px solid black;
    word-wrap: break-word; /* Prevent text overflow */
}

.result:nth-child(odd) {
    background-color: #d5f267; /* Yellow for odd results */
    color: black;
}

.result:nth-child(even) {
    background-color: white; /* White for even results */
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
